main {
    width: fit-content;
    max-width: 90%;
    margin: 6rem auto;
    .balance-container {
        background-color: $softRed;
        color: $cardWhite;
        flex-direction: row-reverse;
        p:nth-child(2) {
            font-size: 1.6em;
            font-weight: 700;
        }
    }
    .chart-container {
        background-color: $cardWhite;
        border-radius: 20px;
        .statsList {
            height: 9em;
            justify-content: center;
            margin: 2em 0em 0.2em 0em;
            .container {
                width: 2em;
                height: 100%;
                gap: 0.8em;
                .barContainer {
                    flex-direction: column-reverse;
                    width: 100%;
                    .bar {
                        background-color: $softRed;
                        width: 100%;
                        border-radius: 5px;
                        position: relative;
                        &:hover::before {
                            content: attr(barStat);
                            width: 65px;
                            padding: 7px 5px 7px 5px;
                            background-color: $darkBrown;
                            color: $cardWhite;
                            border-radius: 5px;
                            font-weight: 700;
                            font-size: 18px;
                            display: flex;
                            text-align: center;
                            justify-content: center;
                            position: absolute;
                            top: -2.5rem;
                            margin-left: -0.6rem;
                        }
                        &:hover {
                            cursor: pointer;
                            background-color: $hoverRed;
                        }
                    }
                    #max {
                        background-color: $cyan;
                        &:hover {
                            background-color: $hoverCyan;
                        }
                    }
                }
                .day {
                    color: $mediumBrown;
                    text-align: center;
                    font-size: 0.8em;
                }
            }
        }
        &__separator {
            border: 1px solid $cream;
            width: 100%;
            margin: 0.5em 0em 0.5em 0em;
        }
        &__info {
            color: $mediumBrown;
            align-items: flex-end;
            margin: 0.3em 0em 0.8em 0em;
            &--last {
                p:nth-child(1) {
                    font-weight: 700;
                    color: $darkBrown;
                    text-align: end;
                }
            }
            &--current {
                p:nth-child(2) {
                    font-size: 2.3em;
                    font-weight: 700;
                    color: $darkBrown;
                    text-align: start;
                }
            }
        }
    }
}