/* Colors */
/* Primary */
/* Neutral */
/* Hover */
/* Responsive */
/** Breakpoint **/
/** Responsive mixins **/
body {
  min-height: 100vh;
  background-color: hsl(27deg, 66%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans";
}

p {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  padding: 32px 150px 66px 40px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .chart-component {
  width: 100%;
}
@media screen and (max-width: 570px) {
  main .chart-component {
    width: 90%;
  }
}
main .chart-component .balance-container {
  background-color: hsl(10deg, 79%, 65%);
  border-radius: 20px;
  color: #FFFBF6;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
main .chart-component .balance-container img {
  width: 4.5em;
  margin-right: 2.4em;
}
main .chart-component .balance-container__details {
  margin: 1.6em 0em 1.5em 2em;
}
main .chart-component .balance-container__details p {
  font-size: 1.12em;
  font-weight: 400;
  margin-bottom: 0.4em;
}
main .chart-component .balance-container__details span {
  font-weight: 700;
  font-size: 2em;
}
main .chart-component .chart-container {
  background-color: #FFFBF6;
  border-radius: 20px;
}
main .chart-component .chart-container__separator {
  border: 0.5px solid hsl(27deg, 66%, 92%);
  margin: 0em 2.2em 0em 2.2em;
}
main .chart-component .chart-container__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: hsl(27deg, 10%, 52%);
  font-size: 1.12em;
  padding: 2em 2.2em 2.2em 2.2em;
}
main .chart-component .chart-container__info--current {
  display: flex;
  flex-direction: column;
}
main .chart-component .chart-container__info--current span:nth-child(2) {
  color: hsl(25deg, 47%, 15%);
  font-size: 2.7em;
  font-weight: 700;
}
main .chart-component .chart-container__info--last {
  text-align: end;
  display: flex;
  flex-direction: column;
}
main .chart-component .chart-container__info--last span:nth-child(1) {
  color: hsl(25deg, 47%, 15%);
  font-weight: 700;
}
main .statsList {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 10em;
  margin: 0px 40px 40px 40px;
}
main .statsList .container {
  height: 100%;
}
main .statsList .container .barContainer {
  display: flex;
  flex-direction: column-reverse;
}
main .statsList .container .barContainer:hover::before {
  content: attr(barStat);
  width: 65px;
  padding: 7px 5px 7px 5px;
  background-color: hsl(25deg, 47%, 15%);
  color: #FFFBF6;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  text-align: center;
  justify-content: center;
  position: absolute;
  margin-top: -2.4rem;
  margin-left: -0.6rem;
}
main .statsList .container .barContainer .bar {
  background-color: hsl(10deg, 79%, 65%);
  width: 50.36px;
  border-radius: 5px;
}
main .statsList .container .barContainer .bar:hover {
  cursor: pointer;
  background-color: #FF9B86;
}
main .statsList .container .barContainer #max {
  background-color: hsl(186deg, 34%, 60%);
}
main .statsList .container .barContainer #max:hover {
  background-color: #B4E0E5;
}
main .statsList .container .day {
  color: hsl(27deg, 10%, 52%);
  font-size: 18px;
  text-align: center;
  margin-top: 8px;
}

/*# sourceMappingURL=style.css.map */
