/** component animation **/
@keyframes appear{
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
 }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dis {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}