
                                                /* Colors */

/* Primary */
$softRed: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);

/* Neutral */
$darkBrown: hsl(25, 47%, 15%);
$mediumBrown: hsl(27, 10%, 52%);
$cream: hsl(27, 66%, 92%);
$veryPaleOrange: hsl(33, 100%, 98%);
$cardWhite: #FFFBF6;

/* Hover */
$hoverRed: #FF9B86;
$hoverCyan: #B4E0E5;